# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
/media/
/staticfiles/
/excel_conversions/
/pdf_uploads/

# Environment Variables
.env
!.env.example

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
